# Virtual Environment
venv/
venv_new/
.venv/
env/

# Python caching
__pycache__/
*.pyc
*.pyo
*.pyd

# Local Database and config
.env
banking_db.db
banking_db.db-journal

# Local upload fallback directory
static/uploads/*
!static/uploads/.gitkeep
